<div class="ui centered relaxed grid dream-grid dream-back">
  {{ $headless := .Site.GetPage "/about" }}
  {{ $aboutPages := $headless.Resources.ByType "page" }}
  {{ range $aboutPages }}
    <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
      <article>
        <div class="ui top attached segment">
          <h3 class="ui header">{{ .Title }}</h3>
        </div>
        <div style="margin: 0px 0px 0px -1px !important;" class="ui bottom attached segment markdown-body">
          {{ .Content | emojify }}
        </div>
      </article>
    </section>
  {{ end }}

<!--   <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article>
      <div class="ui top attached segment borderless">
        <h3 class="ui header px415">{{ i18n "saga" }}</h3>
      </div>
      <div style="margin: 0px 0px 0px -1px !important;" class="ui bottom attached segment borderless">
        {{ partial "saga.html" (dict "Site" .Site "IconSize" "large") }}
      </div>
    </article>
  </section> -->

  <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article>
      <div class="ui top attached segment borderless">
        <h3 class="ui header">{{ i18n "tutorial" }}</h3>
      </div>
      <div style="margin: 0px 0px 0px -1px !important;" class="ui bottom attached segment borderless">
        {{ partial "tutorial.html" (dict "Site" .Site "IconSize" "large") }}
      </div>
    </article>
  </section>

  <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article>
      <div class="ui top attached segment borderless">
        <h3 class="ui header">{{ i18n "socialLinks" }}</h3>
      </div>
      <div style="margin: 0px 0px 0px -1px !important;" class="ui bottom attached segment borderless">
        {{ partial "socials.html" (dict "Site" .Site "IconSize" "large") }}
      </div>
    </article>
  </section>

<!--   <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    {{ if .Site.Copyright }}
      <footer class="ui segment">
        {{ .Site.Copyright | safeHTML }}
      </footer>
    {{ end }}
  </section> -->
</div>
<div class="ui centered relaxed grid dream-back">
  <section class="sixteen wide column">
    <article>
      <div class="ui top attached segment borderless">
        <h3 style="text-align: center;" class="ui header">Tabel Saga & Arc</h3>
      </div>
      <div style="margin: 0px 0px 0px -1px !important;" class="ui bottom attached segment borderless">
<h3 style="text-align: center;" class="ui header">Sea of Survival: Super Rookies Saga</h3>

<table align=center border=0 border-collapse=separate cellpadding=1 cellspacing=1 style="font-size:85%;clear:both;text-align:center;width:100%;empty-cells:hide;border-collapse:separate;border:none!important;">
  <tr>
    <th style=background-color:#20b2aa;width:17%><a href=https://opid.my.id/tags/east-blue title="east blue saga"><span style=color:#000>East Blue</span></a>
    <th style=background-color:#daa520;width:15%><a href=https://opid.my.id/tags/alabasta title="alabasta saga"><span style=color:#000>Alabasta</span></a>
    <th style=background-color:#228b22;width:13%><a href=https://opid.my.id/tags/sky-island title="sky island saga"><span style=color:ivory>Sky Island</span></a>
    <th style=background-color:#191970;width:20%><a href=https://opid.my.id/tags/water-7 title="water 7 saga"><span style=color:#f0f8ff>Water 7</span></a>
    <th style=background-color:purple;width:16%><a href=https://opid.my.id/tags/thriller-bark title="thriller bark saga"><span style=color:#dcdcdc>thriller bark</span></a>
    <th style=background-color:#a9a9a9;width:13%><a href=https://opid.my.id/tags/summit-war title="summit war saga"><span style=color:#000>Summit War</span></a>
  <tr>
    <th style=background-color:#28ddd3><a href=https://opid.my.id/categories/romance-dawn title="romance dawn arc"><span style=color:#000>Romance Dawn</span></a>
    <th style=background-color:#f1c044><a href=https://opid.my.id/categories/reverse-mountain title="reverse mountain arc"><span style=color:#000>Reverse Mountain</span></a>
    <th style=background-color:#37bc37><a href=https://opid.my.id/categories/goat-island title="goat island arc"><span style=color:ivory>Goat Island</span></a>
    <th style=background-color:#2d2db8><a href=https://opid.my.id/categories/long-ring-long-land title="long ring long land arc"><span style=color:#f0f8ff>Long Ring<br>Long Land</span></a>
    <th style=background-color:#ae20ae><a href=https://opid.my.id/categories/ice-hunter title="ice hunter arc"><span style=color:#dcdcdc>Ice Hunter</span></a>
    <th style=background-color:#d1cece><a href=https://opid.my.id/categories/sabaodyhipelago title="sabaody archipelago arc"><span style=color:#000>Sabaody Archipelago</span></a>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
    <td>1-3
    <td>62-63
    <td>136-138
    <td>207-219
    <td>326-335
    <td>385-405
  <tr>
    <th style=background-color:#28ddd3><a href=https://opid.my.id/categories/orange-town title="orange town arc"><span style=color:#000>Orange Town</span></a>
    <th style=background-color:#f1c044><a href=https://opid.my.id/categories/whisky-peak title="whisky peak arc"><span style=color:#000>Whisky Peak</span></a>
    <th style=background-color:#37bc37><a href=https://opid.my.id/categories/ruluka-island title="ruluka island arc"><span style=color:ivory>Ruluka Island</span></a>
    <th style=background-color:#2d2db8><a href=https://opid.my.id/categories/oceans-dream title="ocean's dream arc"><span style=color:#f0f8ff>Ocean's Dream</span></a>
    <th style=background-color:#ae20ae><a href=https://opid.my.id/categories/chopper-man-special title="chopper man"class=mw-redirect><span style=color:#dcdcdc>Chopper Man Special</span></a>
    <th style=background-color:#d1cece><a href=https://opid.my.id/categories/amazon-lily title="amazon lily arc"><span style=color:#000>Amazon Lily</span></a>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
    <td>4-8
    <td>64-67
    <td>139-143
    <td>220-224
    <td>336
    <td>408-417
  <tr>
    <th style=background-color:#28ddd3><a href=https://opid.my.id/categories/syrup-village title="syrup village arc"><span style=color:#000>Syrup Village</span></a>
    <th style=background-color:#f1c044><a href=https://opid.my.id/categories/diary-of-koby-meppo title="diary of koby-meppo"><span style=color:#000>Diary Of<br>Koby-meppo</span></a>
    <th style=background-color:#37bc37><a href=https://opid.my.id/categories/jaya-island title="jaya arc"><span style=color:ivory>Jaya</span></a>
    <th style=background-color:#2d2db8><a href=https://opid.my.id/categories/foxys-return title="foxy's return arc"><span style=color:#f0f8ff>Foxy's Return</span></a>
    <th style=background-color:#ae20ae><a href=https://opid.my.id/categories/thriller-bark title="thriller bark arc"><span style=color:#dcdcdc>Thriller Bark</span></a>
    <th style=background-color:#d1cece><a href=https://opid.my.id/categories/straw-hats-separation-serial title="straw hat's separation serial"><span style=color:#000>Straw Hat's<br>Separation Serial</span></a>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
    <td>9-18
    <td>68-69
    <td>144-152
    <td>225-228
    <td>337-381
    <td>418-421, 453-456
  <tr>
    <th style=background-color:#28ddd3><a href=https://opid.my.id/categories/baratie title="baratie arc"><span style=color:#000>Baratie</span></a>
    <th style=background-color:#f1c044><a href=https://opid.my.id/categories/little-garden title="little garden arc"><span style=color:#000>Little Garden</span></a>
    <th style=background-color:#37bc37><a href=https://opid.my.id/categories/skypiea title="skypiea arc"><span style=color:ivory>Skypiea</span></a>
    <th style=background-color:#2d2db8><a href=https://opid.my.id/categories/water-7 title="water 7 arc"><span style=color:#f0f8ff>Water 7</span></a>
    <th style=background-color:#ae20ae><a href=https://opid.my.id/categories/spa-island title="spa island arc"><span style=color:#dcdcdc>Spa Island</span></a>
    <th style=background-color:#d1cece><a href=https://opid.my.id/categories/impel-down title="impel down arc"><span style=color:#000>Impel Down</span></a>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
    <td>19-30
    <td>70-77
    <td>153-195
    <td>229-263
    <td>382-384
    <td>422-425, 430-452
  <tr>
    <th style=background-color:#28ddd3><a href=https://opid.my.id/categories/arlong-park title="arlong park arc"><span style=color:#000>Arlong Park</span></a>
    <th style=background-color:#f1c044><a href=https://opid.my.id/categories/drum-island title="drum island arc"><span style=color:#000>Drum Island</span></a>
    <th style=background-color:#37bc37><a href=https://opid.my.id/categories/g-8 title="g-8 arc"><span style=color:ivory>G-8</span></a>
    <th style=background-color:#2d2db8><a href=https://opid.my.id/categories/enies-lobby title="enies lobby arc"><span style=color:#f0f8ff>Enies Lobby</span></a>
    <td>
    <th style=background-color:#d1cece><a href=https://opid.my.id/categories/little-east-blue title="little east blue arc"><span style=color:#000>Little East Blue</span></a>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
    <td>31-44
    <td>78-91
    <td>196-206
    <td>264-290,<br>293-302, 304-312
    <td>
    <td>426-429
  <tr>
    <th style=background-color:#28ddd3><a href=https://opid.my.id/categories/loguetown title="loguetown arc"><span style=color:#000>Loguetown</span></a>
    <th style=background-color:#f1c044><a href=https://opid.my.id/categories/alabasta title="alabasta arc"><span style=color:#000>Alabasta</span></a>
    <td>
    <th style=background-color:#2d2db8><a href=https://opid.my.id/categories/boss-luffy-historical-special title="boss luffy historical special"><span style=color:#f0f8ff>Boss Luffy<br>Historical Special</span></a>
    <td>
    <th style=background-color:#d1cece><a href=https://opid.my.id/categories/marineford title="marineford arc"><span style=color:#000>Marineford</span></a>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
    <td>45, 48-53
    <td>92-130
    <td>
    <td>291-292,<br>303, 406-407
    <td>
    <td>457-489
  <tr>
    <th style=background-color:#28ddd3><a href=https://opid.my.id/categories/buggys-crew-adventure-chronicles title="buggy's crew adventure chronicles"><span style=color:#000>Buggy's Crew<br>Adventure Chronicles</span></a>
    <th style=background-color:#f1c044><a href=https://opid.my.id/categories/post-alabasta title="post-alabasta arc"><span style=color:#000>Post-alabasta</span></a>
    <td>
    <th style=background-color:#2d2db8><a href=https://opid.my.id/categories/post-enies-lobby title="post-enies lobby arc"><span style=color:#f0f8ff>Post-enies Lobby</span></a>
    <td>
    <th style=background-color:#d1cece><a href=https://opid.my.id/categories/post-marineford title="post-marineford arc"><span style=color:#000>Post-marineford</span></a>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
    <td>46-47
    <td>131-135
    <td>
    <td>313-325
    <td>
    <td>490-491, 493-516
  <tr>
    <th style=background-color:#28ddd3><a href=https://opid.my.id/categories/warship-island title="warship island arc"><span style=color:#000>Warship Island</span></a>
    <td>
    <td>
    <td>
    <td>
    <th style=background-color:#d1cece><a href="https://opid.my.id/categories/toriko-crossover"><span style=color:#000>Toriko Crossover</span></a>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
    <td>54-61
    <td>
    <td>
    <td>
    <td>
    <td>492
</table>

<h3 style="text-align: center;" class="ui header">The Final Sea: The New World Saga</h3>

<table align=center border=0 border-collapse=separate cellpadding=1 cellspacing=1 style="font-size:85%;clear:both;text-align:center;width:100%;empty-cells:hide;border-collapse:separate;border:none!important;">
  <tbody>
    <tr>
      <th style="background-color:#4169e1;width:28%;"><a href="https://opid.my.id/tags/fish-man-island" title="fish-man island saga"><span style="color:#fff;">Fish-man Island</span></a></th>
      <th style="background-color:#ee82ee;width:33%;"><a href="https://opid.my.id/tags/dressrosa" title="dressrosa saga"><span style="color:#000000;">Dressrosa</span></a></th>
      <th style="background-color:#dc143c;width:33%;"><a href="https://opid.my.id/tags/four-emperors" title="four emperors saga"><span style="color:#fffff0;">Four Emperors</span></a></th>
    </tr>
    <tr>
      <th style="background-color:#6789ed;"><a href="https://opid.my.id/categories/return-to-sabaody" title="return to sabaody arc"><span style="color:#fff;">Return To Sabaody</span></a></th>
      <th style="background-color:#f6b6f6;"><a href="https://opid.my.id/categories/z-ambition" title="z's ambition arc"><span style="color:#000000;">Z's Ambition</span></a></th>
      <th style="background-color:#f55f7a;"><a href="https://opid.my.id/categories/silver-mine" title="silver mine arc"><span style="color:#fffff0;">Silver Mine</span></a></th>
    </tr>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
      <td>517-522</td>
      <td>575-578</td>
      <td>747-750</td>
    </tr>
    <tr>
      <th style="background-color:#6789ed;"><a href="https://opid.my.id/categories/fish-man-island" title="fish-man island arc"><span style="color:#fff;">Fish-man Island</span></a></th>
      <th style="background-color:#f6b6f6;"><a href="https://opid.my.id/categories/punk-hazard" title="punk hazard arc"><span style="color:#000000;">Punk Hazard</span></a></th>
      <th style="background-color:#f55f7a;"><a href="https://opid.my.id/categories/zou" title="zou arc"><span style="color:#fffff0;">Zou</span></a></th>
    </tr>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
      <td>523-541, 543-574</td>
      <td>579-589, 591-625</td>
      <td>751-779</td>
    </tr>
    <tr>
      <th style="background-color:#6789ed;"><a href="https://opid.my.id/categories/toriko-crossover"><span style="color:#fff;">Toriko Crossover</span></a></th>
      <th style="background-color:#f6b6f6;"><a href="https://opid.my.id/categories/toriko-dragon-ball-crossover"><span style="color:#000000;">Toriko &amp; Dragon Ball Crossover</span></th>
      <th style="background-color:#f55f7a;"><a href="https://opid.my.id/categories/marine-rookie" title="marine rookie arc"><span style="color:#fffff0;">Marine Rookie</span></a></th>
    </tr>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
      <td>542</td>
      <td>590</td>
      <td>780-782</td>
    </tr>
    <tr>
      <td></td>
      <th style="background-color:#f6b6f6;"><a href="https://opid.my.id/categories/caesar-retrieval" title="caesar retrieval arc"><span style="color:#000000;">Caesar Retrieval</span></a></th>
      <th style="background-color:#f55f7a;"><a href="https://opid.my.id/categories/whole-cake-island" title="whole cake island arc"><span style="color:#fffff0;">Whole Cake Island</span></a></th>
    </tr>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
      <td></td>
      <td>626-628</td>
      <td>783-877</td>
    </tr>
    <tr bgcolor="#abcdef">
    </tr>
      <td></td>
      <th style="background-color:#f6b6f6;"><a href="https://opid.my.id/categories/dressrosa" title="dressrosa arc"><span style="color:#000000;">Dressrosa</span></a></th>
      <th style="background-color:#f55f7a;"><a href="https://opid.my.id/categories/levely" title="levely arc"><span style="color:#fffff0;">Levely</span></a></th>
    </tr>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
      <td></td>
      <td>629-746</td>
      <td>878-889</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th style="background-color:#f55f7a;"><a href="https://opid.my.id/categories/wano-country" title="wano country arc"><span style="color:#fffff0;">Wano Country</span></a></th>
    </tr>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
      <td></td>
      <td></td>
      <td>890-894, 897-906, 908-tba</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th style="background-color:#f55f7a;"><a href="https://opid.my.id/categories/cidre-guild" title="cidre guild arc"><span style="color:#fffff0;">Cidre Guild</span></a></th>
    </tr>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
      <td></td>
      <td></td>
      <td>895-896</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <th style="background-color:#f55f7a;"><a href="https://opid.my.id/categories/anime-20th-anniversary-special" title="anime 20th anniversary arc"><span style="color:#fffff0;">Anime 20th Anniversary Special</span></a></th>
    </tr>
  <tr class="attached segment top ui"style="border:none;font-size:12px;padding:0 1rem 0 1rem;font-weight:700">
      <td></td>
      <td></td>
      <td>907</td>
    </tr>
  </tbody>
</table>
      </div>
    </article>
  </section>
  </div>