 <ol id="menu" class="breadcrumb centertext" itemscope itemtype="https://schema.org/BreadcrumbList">
      {{ $.Scratch.Set "posisi" 1 }}
    <li itemprop="itemListElement" itemscope
    itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="/">
    <span itemprop="name">Home&nbsp;</span>
    <meta itemprop="position" content="{{ $.Scratch.Get "posisi" }}" />  
    </a>
    <span style="font-size: 16px">/&nbsp;</span>
    </li> 
    {{- with .Params.tags -}}
    {{- range . -}}
    {{ $.Scratch.Add "posisi" 1 }}
    <li itemprop="itemListElement" itemscope
    itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
    <span itemprop="name">{{ . }}</span>
    </a>
    <span style="font-size: 16px">/&nbsp;</span>
    <meta itemprop="position" content="{{ $.Scratch.Get "posisi" }}" />
    {{- end -}}
    {{- end -}}
    {{- with .Params.categories -}}
    {{- range . -}}
    {{ $.Scratch.Add "posisi" 1 }}
    <li itemprop="itemListElement" itemscope
    itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">
    <span itemprop="name">{{ . }}</span>
    </a>
    <span style="font-size: 16px">/&nbsp;</span>
    <meta itemprop="position" content="{{ $.Scratch.Get "posisi" }}" />
    {{- end -}}
    {{- end -}}
    <li itemprop="itemListElement" itemscope
    itemtype="https://schema.org/ListItem">
      {{ $.Scratch.Add "posisi" 1 }}
      <span style="font-weight: 700" itemprop="name">{{ .Params.title }}</span>
      <meta itemprop="position" content="{{ $.Scratch.Get "posisi" }}" />
    </li>
</ol>