<script>
  window.backgroundDark = {{ .Site.Params.backgroundDark }}
  window.backgroundImageDark = {{ .Site.Params.backgroundImageDark }}
  window.darkNav = {{ .Site.Params.darkNav }}
</script>
<!-- <script type="text/javascript">
    var ouo_token = '8jATaLnp';
    var domains = ['sharer.pw', 'opid.page.link', 'zippyshare.com', 'hexafile.net', 'elsfile.org', 'mega.nz']; 
</script> -->
<script src="{{ "/js/jquery.min.js" | relURL }}"></script>
<script src="{{ "/js/jquery.overlayScrollbars.min.js" | relURL }}"></script>
<!-- <script async src="{{ "/js/ouo.min.js" | relURL }}" as="script"></script> -->
<script src="{{ "/js/semantic.min.js" | relURL }}"></script>
<script async src="{{ "/js/header.js" | relURL }}" as="script"></script>
<script async src="{{ "/js/main.js" | relURL }}" as="script"></script>
<script src="{{ "/js/theme.js" | relURL }}" as="script"></script>
<script async src="{{ "/js/lazysizes.min.js" | relURL }}" as="script"></script>
<script type="text/javascript">
$('.menu .item').tab();
</script>