<div style="border:none;" class="ui attached segment">
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/east-blue" title="east-blue">East Blue</a>
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/alabasta" title="east-blue">Alabasta</a>
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/sky-island" title="east-blue">Sky Island</a>
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/water-7" title="east-blue">Water 7</a>
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/thriller-bark" title="east-blue">Thriller Bark</a>
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/summit-war" title="east-blue">Summit War</a>
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/fish-man-island" title="east-blue">Fish-Man Island</a>
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/dressrosa" title="east-blue">Dressrosa</a>
  <a style="color:#fff !important;margin:0.5rem 0" class="ui label violet" href="https://opid.my.id/tags/four-emperors" title="east-blue">Four Emperors</a>
<div>